

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Admin</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>

<div class="container my-2">
    <h1>Articles</h1>

    <a href="/admin/" class="btn btn-primary btn-sm mb-3">Back to panel</a>

    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Article Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Created By</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="article : ${articles}">
            <td th:text="${article.id}"></td>
            <td th:text="${article.articleName}"></td>
            <td th:text="${article.articleDescription}"></td>
            <td th:text="${article.user.username}"></td>
            <td>
                <a th:href="@{/updatearticle/{id}(id=${article.articleName})}" methods="UPDATE" class="btn btn-danger">EDIT</a>
                <a th:href="@{/deletearticle/{id}(id=${article.id})}" methods="DELETE" class="btn btn-danger">DELETE</a>
            </td>
        </tr>
        </tbody>
    </table>


</div>
</div>
</div>
</body>

</html>